/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f0fa;
}

/* Header */
header {
  background-color: #9b85c4;
  padding: 25px 8%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
}

/* Logo Dot */
.logo span {
  color: #e6d5f5;
}

/* Navbar Layout */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation List */
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

/* Navigation Links */
nav ul li a {
  color: rgba(255, 255, 255, 0.65);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 8px;
  transition: 0.3s;
}

/* Active and Hover Links */
nav ul li a.active,
nav ul li a:hover {
  color: #ffffff;
  border-bottom: 4px solid #e6d5f5;
}

/* Icons */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icons a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-icons a:hover {
  color: #e6d5f5;
  transform: translateY(-3px);
}
