body {
  margin: 0;
  overflow: hidden;
  background-color: #426cf0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
}

.box {
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
}

h2 {
  font-size: 20px;
  color: #444;
  margin-bottom: 40px;
}

h2::first-letter {
  text-decoration: underline;
}

form input[type="email"],
form input[type="password"],
form input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  margin-bottom: 10px;
  outline: none;
}

::placeholder {
  color: #aaa;
  font-size: 10px;
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
  margin: 5px 0 25px;
}

.terms {
  font-size: 10px;
}

.terms input {
  width: 15px;
  height: 15px;
}

button {
  width: 100%;
  background-color: #426cf0;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}
button :hover {
  background-color: #426cf0;
}
button :active {
  background-color: #426cf0;
  color: aliceblue;
}

p {
  text-align: center;
  font-size: 10px;
  color: #666;
  margin-top: 20px;
}
