.e {
  background-color: rgb(92, 92, 233);
  height: 500px;
  width: 800px;
  font-style: "Poppins", sans-serif;
  margin: 50px;
  padding: 10px 20px 10px 40px;
}

#login {
  background-color: aliceblue;
  width: 250px;
  height: 250px;
  justify-content: space-between;
  display: inline-block;
  padding: 10px;
  margin: 50px;
  border-radius: 3px;
}
#email {
  border: none;
  border-bottom: 1px solid #000;
}
#password {
  border: none;
  border-bottom: 1px solid #000;
}
#name {
  border: none;
  border-bottom: 1px solid #000;
}
#btn1 {
  width: 250px;
  height: 30px;
  background-color: rgb(10, 129, 248);
  color: aliceblue;
  border-radius: 5px;
  border: rgb(55, 153, 250);
}
#box {
  font-size: 10px;
}
#under {
  color: dodgerblue;
}
#para {
  font-size: 10px;
}
#reg {
  background-color: aliceblue;
  width: 250px;
  height: 350px;
  justify-content: space-between;
  display: inline-block;
  padding: 40px;
  margin: 10px;
  border-radius: 3px;
}

#i {
  font-size: 10px;
  justify-content: space-between;
}
